name: Terraform SkillLabs365 Course Setup Deployment

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Choose Terraform action"
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply
          - destroy

env:
  TF_IN_AUTOMATION: true
  TF_INPUT: false
  WORKING_DIR: terraform-resources

  # Static backend for state storage
  TFSTATE_RG: tfstate-rg
  TFSTATE_STORAGE_ACCOUNT: tfstatestgacfortesting
  TFSTATE_CONTAINER: tfsetupstate
  TFSTATE_KEY: terraform.tfstate

jobs:
  terraform:
    runs-on: ubuntu-latest
    name: Terraform Workflow

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.7

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.AZURE_TENANT_ID }}"
            }

            
      - name: Set ARM environment variables
        run: |
          echo "ARM_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }}" >> $GITHUB_ENV
          echo "ARM_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "ARM_SUBSCRIPTION_ID=${{ secrets.AZURE_SUBSCRIPTION_ID }}" >> $GITHUB_ENV
          echo "ARM_TENANT_ID=${{ secrets.AZURE_TENANT_ID }}" >> $GITHUB_ENV


      - name: Terraform Init (Static Backend)
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          terraform init \
            -backend-config="resource_group_name=${{ env.TFSTATE_RG }}" \
            -backend-config="storage_account_name=${{ env.TFSTATE_STORAGE_ACCOUNT }}" \
            -backend-config="container_name=${{ env.TFSTATE_CONTAINER }}" \
            -backend-config="key=${{ env.TFSTATE_KEY }}"


      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          terraform plan \
            -var="tenant_id=${{ secrets.AZURE_TENANT_ID }}" \
            -var-file="Labs365Course_Setup.json"


      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          terraform apply -auto-approve \
            -var="tenant_id=${{ secrets.AZURE_TENANT_ID }}" \
            -var-file="Labs365Course_Setup.json"


      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          terraform destroy -auto-approve \
            -var="tenant_id=${{ secrets.AZURE_TENANT_ID }}" \
            -var-file="Labs365Course_Setup.json"
